@font-face {
    font-family: 'gotham-medium';
    src: url('../fonts/gotham-medium.eot');
    src: url('../fonts/gotham-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-medium.woff2') format('woff2'),
         url('../fonts/gotham-medium.woff') format('woff'),
         url('../fonts/gotham-medium.ttf') format('truetype'),
         url('../fonts/gotham-medium.svg#gotham_mediumregular') format('svg');
    font-weight: 500;
    font-style: normal;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; 
}

body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background: black;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 2.7rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  box-sizing: border-box; 
  transition: all 200ms ease-in-out; 
  -webkit-transition: all 200ms ease-in-out; 
  -moz-transition: all 200ms ease-in-out; 
  -o-transition: all 200ms ease-in-out;
}

.copyright a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  margin-left: 15px;
  box-sizing: border-box; 
  transition: all 200ms ease-in-out; 
  -webkit-transition: all 200ms ease-in-out; 
  -moz-transition: all 200ms ease-in-out; 
  -o-transition: all 200ms ease-in-out;
}

a:hover, .copyright a:hover {
  color: rgba(160, 196, 35, 1); 
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 5%;
  color: rgba(160, 196, 35, 1);
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 2px solid rgba(160, 196, 35, 1);
  cursor: pointer;
  box-sizing: border-box; 
  transition: all 200ms ease-in-out; 
  -webkit-transition: all 200ms ease-in-out; 
  -moz-transition: all 200ms ease-in-out; 
  -o-transition: all 200ms ease-in-out;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(160, 196, 35, 1);
  border-color: rgba(160, 196, 35, 1);
  outline: 0; }

.fb, .tw, .yt {
  width: 38px;
  height: 38px;
  padding: 0px;
  color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 255, 255, 1);
}

.yt:hover {
  color:rgba(255, 255, 255, 1);
  background: rgba(179,18, 23, 1);
  border: 2px solid rgba(179,18, 23, 1);
}

.fb:hover {
  color:rgba(255, 255, 255, 1);
  background: rgba(59, 89, 152, 1);
  border: 2px solid rgba(59, 89, 152, 1);
}

.tw:hover {
  color:rgba(255, 255, 255, 1);
  background: rgba(85, 172, 238, 1);
  border: 2px solid rgba(85, 172, 238, 1);
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  color: rgba(0, 0, 0, 1);
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #D1D1D1;
  box-shadow: none;
  box-sizing: border-box;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 2px solid rgba(160, 196, 35, 1);
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem;
  font-family: 'gotham-medium';
}
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

.header {
  height: 6.5rem;
  z-index:99;
  width: 100%;
  position:absolute;
}

.navbar {
    padding-top: 10px;
    display: block;
    z-index: 99;
    font-family: "gotham-medium";
  }
  .navbar-spacer {
    display: none; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .15rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 4.5rem;
    color: rgba(255, 255, 255, 1); }
  .navbar-link.active {
    color: rgba(160, 196, 35, 1); }

  .socials {
    padding-top: 10px;
  }
}

.home-background {
  top: 0;
  left: 0;
  position:relative;
  max-height:90%;
}

.slider-sw {
  position:relative;
  margin-top: -190px;
}

.first {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background: url('../images/background.png');
  background-size: cover;
}

.second {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background: url('../images/bg2.jpg');
  background-size: cover;
}

.third {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background: url('../images/bg3.jpg');
  background-size: cover;
}

.fourth {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background: url('../images/bg4.jpg');
  background-size: cover;
}

.container .intro {
  margin: 20rem auto 20rem;
  padding-bottom: 15rem;
}

  .intro {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20pt;
  }

.news {
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  position: relative;
  padding: 6rem 0;
}

.game-concept {
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  position: relative;
  padding: 6rem 0;
}

.game-concept .container {
  margin: 0px auto 50px;
}

.game-concept p {
  font-size: .85em;
  text-align: justify;
}

.game-mode {
  background: rgba(0, 0, 0, 1);
  position: relative;
  padding-top: 6rem;
  padding-bottom: 5rem;
}

.game-mode .container {
   margin: 0px auto 50px;
}

.mod {
  width: 250px;
  cursor: pointer;
  transition: all 500ms ease-in-out; 
  -webkit-transition: all 500ms ease-in-out; 
  -moz-transition: all 500ms ease-in-out; 
  -o-transition: all 500ms ease-in-out;
}

.mod:hover {
  background: rgba(255, 255, 255, .2);
}

.mod h3 {
  text-align: center;
}

.mod p {
  margin-left: 20%;
  width: 60%;
  font-size: 8pt;
  text-align: justify;
  font-weight: 300;
}

.mod img {
  width: 300px;
  margin: auto;
}

.game-weapon {
  background: rgba(255, 255, 255, 1);
  color: black;
  position: relative;
  padding-top: 6rem;
}

.game-weapon .container {
   margin: 0px auto;
}

.weapon-slide {
  text-align: center;
}

.weapon-slide img {
  margin: auto;
}

.weapon {
  margin: 0 10px;
  transition: all 500ms ease-in-out; 
  -webkit-transition: all 500ms ease-in-out; 
  -moz-transition: all 500ms ease-in-out; 
  -o-transition: all 500ms ease-in-out;
}

.weapon:hover {
  background: rgba(160, 196, 35, 1);
}

.weapon-title {
  border-bottom: solid 2px rgba(160, 196, 35, 1);
}

.weapon-first {
  margin-top: 100px;
}

.weapon-second {
  margin-top: 25px;
}

.weapon-subtitle {
  text-align:center;
  margin-top:50px;
}

.weapon-slide h5 {
  font-weight: bold;
}

.weapon p {
  padding: 0 25px;
  font-size: 10pt;
  text-align: justify;
  font-weight: 300;
}

.container {
  position: relative;
}

.newsletter {
    background: rgba(25, 25, 25, 1);
    min-height: 115px;
    padding-top: 35px;
}

.newsletter .container div {
  margin: 0 auto;
  float: none;
  text-align: center;
}

.newsletter a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  margin-left: 15px;
  box-sizing: border-box; 
  transition: all 200ms ease-in-out; 
  -webkit-transition: all 200ms ease-in-out; 
  -moz-transition: all 200ms ease-in-out; 
  -o-transition: all 200ms ease-in-out;
}

.newsletter a:hover {
  color: rgba(160, 196, 35, 1); 
}

.main-greenlight {
  position: relative;
}

.container.greenlight {
  position: relative;
  height: 221px;
  background: url('../images/greenlight-background.jpg');
  background-repeat:no-repeat;
  /* custom background-position */
  background-position:50% 50%;
  /* ie8- graceful degradation */
  background-size: cover;
  text-align: center;
}

.greenlight img {
  margin: 50px auto;
}

.partners {
  padding: 25px;
  background: rgba(160, 196, 35, 1);
  text-align: center;
}

.copyright {
  height: 35px;
  background: #101010;
  font-size: 9pt;
  line-height: 35px;
}

.uppercase {
  text-transform: uppercase;
}

.navitup {
  width: 50px;
  display: block;
  position: relative;
  float: right;
}

.navitup ul {
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

.navitup ul a {
    display:block;
}

.navitup ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

.navitup ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    padding:0;
}

.navitup ul ul li {
    float:none;
    width:100%; /* set the width of dropdown */
}

.navitup ul li:hover > ul {
    display:block;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
