<!doctype html>
<html lang="{{lang.value == 'en' ? 'en' : 'fr'}}" ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
	<title>Void Clash &#151; Support</title>
</head>
<body ng-controller="IndexCtrl">
	<nav class="navigation">
		<div class="container">
			<div class="logo"><img src="../images/voidclash.svg" alt="Void Clash"></div>
			<div class="language">
				<a class="navbar-link" href="#"><img ng-src="../images/{{lang.value == 'en' ? 'english' : 'france'}}.png" alt="" width="20">
					<a href ng-click="lang.set('fr')" translate="lang.fr"></a>
					<a href ng-click="lang.set('en')" translate="lang.en"></a>
				</div>
			</div>
		</nav>
		<header>
			<h1 translate="faq.title"></h1>
		</header>
		<section class="cd-faq">
			<ul class="cd-faq-categories">
				<li><a class="selected" href="#basics" translate="faq.basics.title"></a></li>
				<li><a href="#launcher" translate="faq.launcher.title"></a></li>
				<li><a href="#game" translate="faq.game.title"></a></li>
				<li><a href="#mapeditor" translate="faq.mapeditor.title"></a></li>
				<li><a href="#hostserver" translate="faq.hostserver.title"></a></li>
				<!--<li><a href="#sharingplatform" translate="faq.sharingplatform.title"></a></li> -->
			</ul> <!-- cd-faq-categories -->

			<div class="cd-faq-items">
				<ul id="basics" class="cd-faq-group">
					<li class="cd-faq-title"><h2 translate="faq.basics.title"></h2></li>
					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.basics.n1.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.basics.n1.description"></p>
						</div> <!-- cd-faq-content -->
					</li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.basics.n2.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.basics.n2.description"></p>
						</div> <!-- cd-faq-content -->
					</li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.basics.n3.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.basics.n3.description"></p>
						</div> <!-- cd-faq-content -->
					</li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.basics.n4.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.basics.n4.description"></p>
						</div> <!-- cd-faq-content -->
					</li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.basics.n5.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.basics.n5.description"></p>
						</div> <!-- cd-faq-content -->
					</li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.basics.n6.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.basics.n6.description"></p>
						</div> <!-- cd-faq-content -->
					</li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.basics.n7.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.basics.n7.description"></p>
						</div> <!-- cd-faq-content -->
					</li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.basics.n8.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.basics.n8.description"></p>
						</div> <!-- cd-faq-content -->
					</li>
				</ul> <!-- cd-faq-group -->


				<ul id="launcher" class="cd-faq-group">
					<li class="cd-faq-title"><h2 translate="faq.launcher.title"></h2></li>
					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.launcher.n1.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.launcher.n1.description"></p>
						</div> <!-- cd-faq-content -->
					</li>
					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.launcher.n2.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.launcher.n2.description"></p>
						</div> <!-- cd-faq-content -->
					</li>
					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.launcher.n3.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.launcher.n3.description"></p>
						</div> <!-- cd-faq-content -->
					</li>
					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.launcher.n4.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.launcher.n4.description"></p>
						</div> <!-- cd-faq-content -->
					</li>
					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.launcher.n5.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.launcher.n5.description"></p>
						</div> <!-- cd-faq-content -->
					</li>
					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.launcher.n6.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.launcher.n6.description"></p>
						</div> <!-- cd-faq-content -->
					</li>
				</ul> <!-- cd-faq-group -->

				<ul id="game" class="cd-faq-group">
					<li class="cd-faq-title"><h2 translate="faq.game.title"></h2></li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.game.n1.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.game.n1.description"></p>
						</div> <!-- cd-faq-content -->
					</li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.game.n2.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.game.n2.description"></p>
						</div> <!-- cd-faq-content -->
					</li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.game.n3.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.game.n3.description"></p>
						</div> <!-- cd-faq-content -->
					</li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.game.n4.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.game.n4.description"></p>
						</div> <!-- cd-faq-content -->
					</li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.game.n5.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.game.n5.description"></p>
						</div> <!-- cd-faq-content -->
					</li>
				</ul> <!-- cd-faq-group -->

				<ul id="mapeditor" class="cd-faq-group">
					<li class="cd-faq-title"><h2 translate="faq.mapeditor.title"></h2></li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.mapeditor.n1.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.mapeditor.n1.description"></p>
						</div> <!-- cd-faq-content -->
					</li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.mapeditor.n2.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.mapeditor.n2.description"></p>
						</div> <!-- cd-faq-content -->
					</li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.mapeditor.n3.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.mapeditor.n3.description"></p>
						</div> <!-- cd-faq-content -->
					</li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.mapeditor.n4.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.mapeditor.n4.description"></p>
						</div> <!-- cd-faq-content -->
					</li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.mapeditor.n5.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.mapeditor.n5.description"></p>
						</div> <!-- cd-faq-content -->
					</li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.mapeditor.n6.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.mapeditor.n6.description"></p>
						</div> <!-- cd-faq-content -->
					</li>

				</ul> <!-- cd-faq-group -->

				<ul id="hostserver" class="cd-faq-group">
					<li class="cd-faq-title"><h2 translate="faq.hostserver.title"></h2></li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.hostserver.n1.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.hostserver.n1.description"></p>
						</div> <!-- cd-faq-content -->
					</li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.hostserver.n2.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.hostserver.n2.description"></p>
						</div> <!-- cd-faq-content -->
					</li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.hostserver.n3.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.hostserver.n3.description"></p>
						</div> <!-- cd-faq-content -->
					</li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.hostserver.n4.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.hostserver.n4.description"></p>
						</div> <!-- cd-faq-content -->
					</li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.hostserver.n5.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.hostserver.n5.description"></p>
						</div> <!-- cd-faq-content -->
					</li>
				</ul>

				<!--<ul id="sharingplatform" class="cd-faq-group">
					<li class="cd-faq-title"><h2 translate="faq.sharingplatform.title"></h2></li>
					
					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.sharingplatform.n1.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.sharingplatform.n1.description"></p>
						</div>
					</li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.sharingplatform.n2.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.sharingplatform.n2.description"></p>
						</div>
					</li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.sharingplatform.n3.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.sharingplatform.n3.description"></p>
						</div>
					</li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.sharingplatform.n4.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.sharingplatform.n4.description"></p>
						</div>
					</li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.sharingplatform.n5.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.sharingplatform.n5.description"></p>
						</div>
					</li>

					<li>
						<a class="cd-faq-trigger" href="#0" translate="faq.sharingplatform.n6.question"></a>
						<div class="cd-faq-content">
							<p translate="faq.sharingplatform.n6.description"></p>
						</div>
					</li>
				</ul> -->

			</div> <!-- cd-faq-items -->
			<a href="#0" class="cd-close-panel">Close</a>
		</section> <!-- cd-faq -->
		<script src="js/jquery-2.1.1.js"></script>
		<script src="js/jquery.mobile.custom.min.js"></script>
		<script src="js/main.js"></script> <!-- Resource jQuery -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.7.0/angular-translate.min.js"></script>
		<script type="text/javascript" src="./../app.js"></script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-65085205-1', 'auto');
			ga('send', 'pageview');

		</script>

	</body>
	</html>