<!DOCTYPE html>
<html lang="{{lang.value == 'en' ? 'en' : 'fr'}}" ng-app="app">
<head>
	<meta charset="utf-8">
	<title>Void Clash &#151; Official Site</title>
	<meta name="description" content="Void Clash is a fast-paced, online and competitive shoot'em up arena. It brings you an innovative gameplay mixing several concepts from the video game’s world.">
	<meta name="author" content="Void Clash Crew">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
	<link rel="stylesheet" href="css/skeleton.css">
	<link rel="icon" type="image/png" href="favicon.png" />
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!-- Open Graph meta tags for social sharing - http://ogp.me/ -->
	<meta property="og:type" content="website">
	<meta property="og:title" content="Void Clash is a fast-paced, online and competitive shoot'em up arena.">
	<meta property="og:url" content="http://beta.voidclash.com">
	<meta property="og:image" content="http://beta.voidclash.com/images/logo-long.png">
	<meta property="og:description" content="It brings you an innovative gameplay mixing several concepts from the video game’s world.">

	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="slick/slick.min.js"></script>
</head>

<body ng-controller="IndexCtrl">
	<div>
		<div class="container" style="position:relative">
			<div class="u-max-full-width header">
				<div class="row">
					<div class="two columns logo">
						<img src="images/voidclash.svg" alt="Void Clash">
					</div>
					<div class="five columns nv">
						<nav class="navbar">
							<ul class="navbar-list">
								<li class="navbar-item"><a class="navbar-link" href="#news" translate="nav.news"></a></li>
								<li class="navbar-item"><a class="navbar-link" href="#game" translate="nav.game"></a></li>
								<li class="navbar-item"><a class="navbar-link" href="#community" translate="nav.community"></a></li>
							</ul>
						</nav>
					</div>
					<div class="five columns socials">
						<a href="#"><button class="button" translate="nav.greenlight"></button></a>
						<a href="https://www.facebook.com/voidclash"><button class="button fb">F</button></a>
						<a href="https://twitter.com/voidclash" target="_blank"><button class="button tw">T</button></a>
						<a href="https://www.youtube.com/channel/UC961h0-47wv4ndkU8HwRARA" target="_blank"><button class="button yt">Y</button></a>
						<div class="navitup">
							<ul clas="navbar-list">
								<li class="navbar-item"><a class="navbar-link" href="#"><img ng-src="images/{{lang.value == 'en' ? 'english' : 'france'}}.png" alt="" width="20"></a>
									<ul>
										<li class="navbar-item"><a class="navbar-link" href ng-click="lang.set('fr')" translate="lang.fr"></a></li>
										<li class="navbar-item"><a class="navbar-link" href ng-click="lang.set('en')" translate="lang.en"></a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div><!-- END ROW -->
			</div><!-- END HEADER -->
		</div><!-- END CONTAINER -->

		<div class="slider slider-for home-background">
			<div class="first">
				<div class="container">
					<div class="u-max-full-width intro">
						<div>
							<p translate="headline.greenlight"></p>
						</div>
					</div>
				</div>
			</div>

			<div class="second">
				<div class="container">
					<div class="u-max-full-width intro">
						<div>
							<p translate="headline.competitive"></p>
						</div>
					</div>
				</div>
			</div>

			<div class="third">
				<div class="container">
					<div class="u-max-full-width intro">
						<div>
							<p translate="headline.user_friendly"></p>
						</div>
					</div>
				</div>
			</div>

			<div class="fourth">
				<div class="container">
					<div class="u-max-full-width intro">
						<div>
							<p translate="headline.guns"></p>
						</div>
					</div>
				</div>
			</div>
		</div><!-- END SLIDER -->

		<div class="container slider-sw">
			<div class="u-max-full-width">
				<div class="slider slider-nav">
					<div class="itm"><img src="images/background.jpg" width="100%">
						<p translate="headline.greenlight"></p>
					</div>
					<div class="itm"><img src="images/bg2.jpg" width="100%">
						<p translate="headline.competitive"></p>
					</div>
					<div class="itm"><img src="images/bg3.jpg" width="100%">
						<p translate="headline.user_friendly"></p>
					</div>
					<div class="itm"><img src="images/bg4.jpg" width="100%">
						<p translate="headline.guns"></p>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				$('.slider-for').slick({
					autoplay: true,
					slidesToShow: 1,
					slidesToScroll: 1,
					arrows: false,
					fade: true,
					asNavFor: '.slider-nav'
				});
				$('.slider-nav').slick({
					autoplay: true,
					autoplaySpeed: 3000,
					slidesToShow: 4,
					slidesToScroll: 0,
					asNavFor: '.slider-for',
					dots: false,
					centerMode: false,
					focusOnSelect: true
				});
			</script>
		</div>
	</div> <!-- END MAIN HEADER -->

	<div class="news" id="news">
		<div class="container u-max-full-width">
			<div class="row">
				<h2 class="uppercase" translate="news.title"></h2>
			</div>
			<div class="row">
				<div class="three columns">
					<h5>Introducing the last update</h5>
					<img src="http://placehold.it/250x250" width="100%">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.
					</p>
					<p style="text-align:right"><a href="#">Read more →</a></p>
				</div>
				<div class="three columns">
					<h5>Introducing the last update</h5>
					<img src="http://placehold.it/250x250" width="100%" />
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.
					</p>
					<p style="text-align:right"><a href="#">Read more →</a></p>
				</div>
				<div class="three columns">
					<h5>Introducing the last update</h5>
					<img src="http://placehold.it/250x250" width="100%" />
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.
					</p>
					<p style="text-align:right"><a href="#">Read more →</a></p>
				</div>
				<div class="three columns">
					<h5>Introducing the last update</h5>
					<img src="http://placehold.it/250x250" width="100%" />
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.
					</p>
					<p style="text-align:right"><a href="#">Read more →</a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="main-greenlight">
		<div class="container greenlight">
			<div class="u-max-full-width">
				<a href="#"><img src="images/greenlight-pickup.png" alt="thumb up for Void Clash" width="70%"></a>
			</div>
		</div>
	</div>

	<div class="game-concept" id="game">
		<div class="container u-max-full-width">
			<div class="row">
				<h2 class="uppercase" translate="concept.title"></h2>
				<p translate="concept.description"></p>
			</div>

			<div class="row">
				<div class="four columns">
					<h4 translate="concept.gameplay.title"></h4>
					<p translate="concept.gameplay.description"></p>
				</div>
				<div class="four columns">
					<h4 translate="concept.guns.title"></h4>
					<p translate="concept.guns.description"></p>
				</div>
				<div class="four columns">
					<h4 translate="concept.team.title"></h4>
					<p translate="concept.team.description"></p>
				</div>
			</div>

			<div class="row">
				<div class="four columns">
					<h4 translate="concept.mods.title"></h4>
					<p translate="concept.mods.description"></p>
				</div>
				<div class="four columns">
					<h4 translate="concept.matchmaking.title"></h4>
					<p translate="concept.matchmaking.description"></p>
				</div>
				<div class="four columns">
					<h4 translate="concept.user_friendly.title"></h4>
					<p translate="concept.user_friendly.description"></p>
				</div>
			</div> <!-- END ROW -->
		</div> <!-- END CONTAINER -->
	</div> <!-- END GAME CONCEPT -->

	<div class="game-mode">
		<div class="container u-max-full-width">
			<h2 class="uppercase" translate="modes.title"></h2>
			<p translate="modes.description"></p>
		</div>
		<div class="u-max-full-width">
			<div class="slider game-mod">
				<div class="mod">
					<img src="images/capture-the-flag.svg" alt="Capture The Flag" />
					<div>
						<h3 translate="modes.ctf.title"></h3>
						<p translate="modes.ctf.description"></p>
					</div>
				</div>

				<div class="mod">
					<img src="images/king-of-the-hill.svg" alt="Free For All" />
					<div>
						<h3 translate="modes.ffa.title"></h3>
						<p translate="modes.ffa.description"></p>
					</div>
				</div>

				<div class="mod">
					<img src="images/horde.svg" alt="Horde" />
					<div>
						<h3 translate="modes.horde.title"></h3>
						<p translate="modes.horde.description"></p>
					</div>
				</div>

				<div class="mod">
					<img src="images/king-of-the-hill.svg" alt="King Of The Hill" />
					<div>
						<h3 translate="modes.koth.title"></h3>
						<p translate="modes.koth.description"></p>
					</div>
				</div>

				<div class="mod">
					<img src="images/survivor.svg" alt="Survivor" />
					<div>
						<h3 translate="modes.svr.title"></h3>
						<p></p>
					</div>
				</div>

				<div class="mod">
					<img src="images/team-deathmatch.svg" alt="Team Deathmatch" />
					<div>
						<h3>Team Deathmatch</h3>
						<p>Probably the most known mod on the earth and in the void arena, the goal is the same : Kill and kill again until the round's end. Keep in mind that your score is made with your kill and death ratio !
						</p>
					</div>
				</div>

				<div class="mod">
					<img src="images/team-survivor.svg" alt="Team Survivor" />
					<div>
						<h3 translate="modes.tsvr.title"></h3>
						<p translate="modes.tsvr.description"></p>
					</div>
				</div>
			</div> <!-- END SLIDER -->
			<script type="text/javascript">			
			$('.game-mod').slick({
					centerMode: true,
					centerPadding: '60px',
					slidesToShow: 3,
					focusOnSelect: true,
					arrows: false,
					responsive: [
					{
						breakpoint: 768,
						settings: {
						arrows: false,
						centerMode: true,
						centerPadding: '40px',
						slidesToShow: 3
					}
				},
			{
				breakpoint: 480,
				settings: {
					arrows: false,
					centerMode: true,
					centerPadding: '40px',
					slidesToShow: 1
					}
				}
			]
			});
			</script>
		</div> <!-- END ROW -->
	</div> <!-- END GAME MODE -->

	<div class="game-weapon">
		<div class="container">
			<div class="eight columns row">
				<h2 class="uppercase weapon-title" translate="weapon.title"></h2>
			</div>
			<div class="row">
				<div class="six columns"><img src="images/weapons.png" width="100%"></div>
				<div class="six columns">
					<h6 class="uppercase weapon-first" translate="weapon.description.first"></h6>
					<h6 class="uppercase weapon-second" translate="weapon.description.second"></h6>
				</div>
			</div>
			<div class="row">
				<h4 class="uppercase weapon-subtitle" translate="weapon.subtitle"></h4>
				<div class="slider weapon-slide">
					<div class="weapon">
						<img src="images/bomb.svg" width="150">
						<h5 class="uppercase" translate="weapon.bomb.title"></h5>
						<p translate="weapon.bomb.description"></p>
					</div>
					<div class="weapon">
						<img src="images/bullet.svg" width="150">
						<h5 class="uppercase" translate="weapon.bullet.title"></h5>
						<p translate="weapon.bullet.description"></p>
					</div>

					<div class="weapon">
						<img src="images/engine.svg" width="150">
						<h5 class="uppercase" translate="weapon.engine.title"></h5>
						<p translate="weapon.engine.description"></p>
					</div>

					<div class="weapon">
						<img src="images/rocket.svg" width="150">
						<h5 class="uppercase" translate="weapon.rocket.title"></h5>
						<p translate="weapon.rocket.description"></p>
					</div>

					<div class="weapon">
						<img src="images/turret.svg" width="150">
						<h5 class="uppercase" translate="weapon.turret.title"></h5>
						<p translate="weapon.turret.description"></p>
					</div>

					<div class="weapon">
						<img src="images/turret.svg" width="150">
						<h5 class="uppercase" translate="weapon.zone.title"></h5>
						<p translate="weapon.zone.description"></p>
					</div>
				</div> <!-- END SLIDER -->

				<script type="text/javascript">			
					$('.weapon-slide').slick({
						centerMode: true,
						centerPadding: '60px',
						slidesToShow: 3,
						focusOnSelect: true,
						arrows: true,
						responsive: [
						{
							breakpoint: 768,
							settings: {
								arrows: true,
								centerMode: true,
								centerPadding: '40px',
								slidesToShow: 1
							}
						},
						{
							breakpoint: 480,
							settings: {
								arrows: true,
								centerMode: true,
								centerPadding: '40px',
								slidesToShow: 1
							}
						}
						]
					});
				</script>
			</div> <!-- END ROW -->
		</div><!-- END CONTAINER -->
	</div><!-- END GAME WEAPON -->

	<div class="newsletter" id="community">
		<div class="container">
			<div class="six columns">
				<label for="exampleEmailInput" translate="newsletter.title"></label>
				<form ng-submit="submitEmail()">
					<input class="u-full-width" type="email" placeholder="Enter your email" id="exampleEmailInput" ng-model="form.email" ng-hide="form.hide">
					<p ng-show="form.hide">Thank you !</p>
				</form>
				<p>
					<a href="#">Facebook</a>
					<a href="#">Twitter</a>
					<a href="#">Youtube</a>
					<a href="#">Greenlight</a>
					<a href="#">Indiedb</a>
				</p>
			</div>
		</div>
	</div>

	<div class="partners">
		<div class="container">
			<a href="#">
				<img src="images/greenlight.png" width="150" height="86" style="padding: 5px">
				<img src="images/epitech.png" width="150" height="86" style="padding: 5px">
			</a>
		</div>
	</div>

	<div class="copyright">
		<div class="container">
			<div class="ten columns">
				<a href="#" translate="footer.lm"></a>
				<a href="#" translate="footer.pp"></a>
				<a href="http://steamcommunity.com/greenlight" target="_blank">Greenlight</a>
				<a href="http://gdl.epitech.eu/" target="_blank">GDL</a>
				<a href="http://eip.epitech.eu/" target="_blank">EIP</a>
			</div>
			<div class="two columns">
				<span class="cvc">Void Clash &copy 2015</span>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.7.0/angular-translate.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>
